<!DOCTYPE html>
<html>
    <head>
        <title>Developers</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <main>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                {% for dev in developers %}
                    <tr>
                        <td>{{ dev.name }}</td>
                        <td>{{ dev.joined }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </main>
    </body>
</html>