<!DOCTYPE html>
<html>
    <head>
        <title>Developers</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    </head>

    <body>
        <header>
            <h1>Developers</h1>
        </header>
        <main>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                {% for dev in developers %}
                    <tr>
                        <td>{{ dev.name }}</td>
                        <td>{{ dev.joined }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </main>
    </body>
</html>